@charset "utf-8";

/* common */
div,p,dl { margin:0px; padding:0px; }
img { border:0; vertical-align:middle; }
table { width:100%; margin:0px; padding:0px; border-collapse:collapse; border-spacing:0; }
table td { margin:0px; padding:0px; font-size:12px; font-family:dotum, Arial, sans-serif; color:#464646; }
ul {list-style-type:none; margin:0px; padding:0px; font-size:12px;}

.blind{ position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0; visibility:hidden; overflow:hidden; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-slider{position:relative; text-align:left;}
.ui-slider-horizontal .ui-slider-range{top:0; height:100%;}
.ui-slider .ui-slider-range{position: absolute; z-index: 1; display: block; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; cursor: default;}

.airline_hl { color:#0065b3; }

/* Margin Style */
.mt00 { margin-top:0 !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mb00 { margin-bottom:0 !important; }
.mb05 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }

.float_l { float:left !important; }
.float_r { float:right !important; }

/* 타이틀 */
div.titles { margin:0 0 20px 0; padding:0; height:29px;}
div.titles h1 { float:left; }
div.titles ul { float:right; list-style-type:none; padding-top:5px; }
div.titles ul li { float:left; padding-right:5px; color:#999; font-size:11px; }
div.titles ul li.home{ padding-left:16px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_tit_nav_home.gif) no-repeat 0 50%; }
div.titles ul li.current { padding-right:0; color:#666; font-weight:bold; }

#FareAvailList .c_plan_sch{ width:930px; height:41px; clear:both;}
#FareAvailList .c_plan_sch .chocie_plan { float:left; padding-left:138px; width:621px; height:39px; border:1px solid #000b24; border-right:0; background:#113588 url(//img.modetour.co.kr/ModeLiveBooking/130913_air/bg_select_trip.gif) no-repeat left top; color:#fff; font-weight:bold; font-size:12pt; line-height:39px; }
#FareAvailList .c_plan_sch .chocie_plan img { vertical-align:middle; }
#FareAvailList .c_plan_sch .other_schedule{float:right; width:170px; height:41px; }
#FareAvailList .c_plan_sch .other_schedule a{display:block; width:170px; height:41px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat 0 0;}

#FareAvailList .group_area{ float:left; margin-top:30px; width:930px; }
#FareAvailList .group_area .hgroup h2{font-size:9pt; color:#333; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_airplane.gif) no-repeat 0 50%; padding-left:20px; overflow:hidden; }
#FareAvailList .group_area .hgroup h2.sch_result_txt { margin:0;  font-weight:normal; color:#333; }
#FareAvailList .group_area .hgroup h2.sch_result_txt span { color:#333; }
#FareAvailList .group_area .hgroup h2.sch_result_txt > span { float:left; }
#FareAvailList .group_area .hgroup h2.sch_result_txt > span > span strong { color:#234e8a; }
#FareAvailList .group_area .hgroup h2.sch_result_txt > span.economy { margin-bottom:-4px; float:right; display:block; color:#666; }
#FareAvailList .group_area .hgroup h2.sch_result_txt .availability_fare { color:#ff2d68; }
#FareAvailList .group_area .hgroup h2.sch_result_txt > span.fare { float:right; color:#666;  padding-right:38px; }
#FareAvailList .result_sch{width:100%; border-top:2px solid #676767;}
#FareAvailList .result_sch thead th{height:32px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/bg_table_th.gif) repeat-x; font-size:9pt; text-align:center; }
#FareAvailList .result_sch thead th,
#FareAvailList .result_sch tbody td{border-right:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;}
#FareAvailList .result_sch th:first-child,
#FareAvailList .result_sch td:first-child{border-left:1px solid #c2c2c2;}
#FareAvailList .result_sch .airline { width:239px; }
#FareAvailList .result_sch .via { width:168px; }
#FareAvailList .result_sch .adult { width:164px; }
#FareAvailList .result_sch .charge { width:354px; }
#FareAvailList .result_sch .charge .resch_wrap { width:354px; }
#FareAvailList .result_sch .charge .rsch_body { width:335px; }
#FareAvailList .result_sch .resch_wrap { height:158px; overflow-y:auto; }
#FareAvailList .result_sch .resch_wrap .rsch_body{ padding-left:19px; }
#FareAvailList .result_sch .resch_wrap .rsch_body ul{ padding:15px 0; }
#FareAvailList .result_sch .resch_wrap .rsch_body ul.fee{ float:left; width:335px; }
#FareAvailList .result_sch .resch_wrap .rsch_body li{ color:#666; line-height:17pt; }
#FareAvailList .result_sch .resch_wrap .rsch_body li .ui-button { display:inline-block; padding-left:20px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/bg_checkbox.png) no-repeat 0 0; vertical-align:middle; cursor:pointer; }
#FareAvailList .result_sch .resch_wrap .rsch_body li .ui-button.ui-state-active { background-position:0 -37px}
#FareAvailList .result_sch .resch_wrap .rsch_body li .ui-button.ui-state-hover { color:#334b81; }
#FareAvailList .result_sch .resch_wrap .rsch_body li .ui-button.ui-state-active { font-weight:bold; color:#334b81; }
#FareAvailList .result_sch .resch_wrap .rsch_body li input[type=text]{width:70px; height:20px; line-height:20px; border:1px solid #d7d7d7; padding-left:5px; font-size:9pt; color:#ccc; }
#FareAvailList .result_sch .resch_wrap .rsch_body li input.active { color:#666; }
#FareAvailList .result_sch .resch_wrap .rsch_body .sliderRange{ width:315px; height:17px; line-height:17px; margin-top:8px;}
#FareAvailList .result_sch .resch_wrap .rsch_body .ui-slider-horizontal{ width:315px; height:2px; background:#334b81; }
#FareAvailList .result_sch .resch_wrap .rsch_body .ui-slider-horizontal .ui-slider-handle{top:-7px; width:7px; height:17px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/slider_handle.gif) no-repeat; padding-left:0;}
#FareAvailList .result_sch ul.fee li{ float:left; width:335px; }
#FareAvailList .result_sch ul.fee li .acount { width:315px; }
#FareAvailList .result_sch ul.fee li .acount input[type=text]{ padding:0; min-width:60px; width:60px; height:22px; border:0; color:#666; text-align:left; line-height:22px; }
#FareAvailList .result_sch ul.fee li .acount .acount_left{ float:left; }
#FareAvailList .result_sch ul.fee li .acount .acount_right{ float:right; }
#FareAvailList .result_sch ul.fee li .acount .acount_right input{ text-align:right; }
#FareAvailList .sch_result_wrap { width:100%; }
#FareAvailList .sch_result_wrap .sch_result{float:left; width:573px; border-left:1px solid #c2c2c2; border-right:1px solid #c2c2c2; }
#FareAvailList .sch_result_wrap .sch_result .ribbon{ width:31px; }
#FareAvailList .sch_result_wrap .sch_result .flight{ width:245px; }
#FareAvailList .sch_result_wrap .sch_result .charge { width:116px; }
#FareAvailList .sch_result_wrap .sch_result .tax{ width:44px; }
#FareAvailList .sch_result_wrap .sch_result .adult{ width:56px; }
#FareAvailList .sch_result_wrap .sch_result .period{ width:46px; }
#FareAvailList .sch_result_wrap .sch_result .via{ width:61px; }
#FareAvailList .sch_result_wrap .sch_result .title .seat{ width:67px; }
#FareAvailList .sch_result_wrap .sch_result .title th{ padding:0; margin:0; font-size:9pt; }
#FareAvailList .sch_result_wrap .sch_result .title th > div { background:#fff; border:1px solid #b8bcca; border-right:0; }
#FareAvailList .sch_result_wrap .sch_result .title th:first-child > div { border-left:0; }
#FareAvailList .sch_result_wrap .sch_result .title th a,
#FareAvailList .sch_result_wrap .sch_result .title th span.blank { margin:1px 0 0 1px; display:block; height:30px; line-height:30px; background:#f0f1f5; color:#333; text-decoration:none; vertical-align:middle; text-align:center;}
#FareAvailList .sch_result_wrap .sch_result .title th a span.txt_arr{ padding-right:8px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_thead_arrow.gif) no-repeat right 50%; }
#FareAvailList .sch_result_wrap .sch_result .body { height:415px; border-bottom:1px solid #c2c2c2; overflow:hidden; overflow-y:scroll; }
.ie7 #FareAvailList .sch_result_wrap .sch_result .body { overflow-x:auto; }
#FareAvailList .sch_result_wrap .sch_result .body td .cell { padding:7px 0 8px; border-bottom:1px solid #f0f0f0; text-align:center; border-right:1px solid transparent; vertical-align:middle; }
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell { padding-left:10px; text-align:left; overflow:hidden; }
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell > span { float:left; display:block; line-height:19px; }
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell span.logo { padding-top:3px; width:20px; }
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell span.name { width:61px;  overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell span.card { width:150px; line-height:21px; }
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell span.card span { margin-left:2px; float:left; height:20px; }
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell span.card span:first-child { margin-left:0;}
#FareAvailList .sch_result_wrap .sch_result .body td.flight .cell span.card img { vertical-align:top;  }
#FareAvailList .sch_result_wrap .sch_result .body td.flight img { vertical-align:middle; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge{ color:#334b81; text-align:right; font-weight:bold; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge .cell { padding-right:9px; text-align:right; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge a.btn_rule{display:inline-block; width:33px; height:17px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat -222px -23px; vertical-align:middle; }
#FareAvailList .sch_result_wrap .sch_result .body td.tax { width:49px; text-align:right; }
#FareAvailList .sch_result_wrap .sch_result .body td.via { width:44px; }
#FareAvailList .sch_result_wrap .sch_result .body td.seat { width:50px; }
#FareAvailList .sch_result_wrap .sch_result .body tr:hover td{background-color:#f0f0f0;}
#FareAvailList .sch_result_wrap .sch_result .body tr.last td{ border-bottom:0; }
#FareAvailList .sch_result_wrap .reserv_seach{float:left; width:354px; border-right:1px solid #c2c2c2;}
#FareAvailList .sch_result_wrap .reserv_seach .flight{width:354px; height:224px; border-top:1px solid #474b4e; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/bg_reserv.gif) repeat-x;}
#FareAvailList .sch_result_wrap .reserv_seach .flight .top{height:31px; border:1px solid #474b4e; border-top:0 none; position:relative;}
#FareAvailList .sch_result_wrap .reserv_seach .flight .leave,
#FareAvailList .sch_result_wrap .reserv_seach .flight .return { height:31px; line-height:31px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/bg_air_trav.png) no-repeat; padding-left:90px; color:#fff; font-weight:bold; }
#FareAvailList .sch_result_wrap .reserv_seach .flight .return { background-position:0 -37px; }
#FareAvailList .sch_result_wrap .reserv_seach .flight .leave span { display:inline-block; vertical-align:middle; }
#FareAvailList .sch_result_wrap .reserv_seach .flight .return span { display:inline-block; vertical-align:middle; }
#FareAvailList .sch_result_wrap .reserv_seach .flight .top b.arrow{ display:inline-block; margin:0 6px 0 8px; width:5px; height:9px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_reserv_arrow.gif) no-repeat; vertical-align:middle; }
#FareAvailList .sch_result_wrap .reserv_seach .flight .top ul{position:absolute; top:9px; right:19px; width:78px; height:16px;}
#FareAvailList .sch_result_wrap .reserv_seach .flight .top ul li{float:left; width:13px; height:14px;}
#FareAvailList .sch_result_wrap .reserv_seach .flight .top ul li.date{width:52px; line-height:normal; color:#fff; font-weight:bold; text-align:center;}
#FareAvailList .sch_result_wrap .reserv_seach .flight .top ul li a{display:block; width:13px; height:14px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat;}
#FareAvailList .sch_result_wrap .reserv_seach .flight .top ul li a.btn_left{background-position:-179px 0}
#FareAvailList .sch_result_wrap .reserv_seach .flight .top ul li a.btn_right{background-position:-202px 0}
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list { height:190px; border-bottom:1px solid #c2c2c2; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list .rvt_flight { width:85px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list .start { width:55px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list .arrive { width:55px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list .diesel { width:45px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list .seat { width:45px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list .detail { width:52px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list .scroll { width:17px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list thead th{ padding:8px 0; border-bottom:1px solid #c2c2c2; text-align:center; font-weight:normal;font-size:10pt; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_table_th_bar.gif) no-repeat right 50%; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list thead th.none { background:0 none; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list tbody td{ height:31px; border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; text-align:center; line-height:31px; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list tbody td:first-child{border-top:0;}
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list tbody tr:hover td{background-color:#f2f2f2;}
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list tbody td a.btn_viewer{ display:inline-block; width:33px; height:17px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat -179px -23px; vertical-align:middle; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list tbody td.last_child { border-right:0 none; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list_none { border-bottom:0 none; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list_body { height:154px; overflow-y:scroll; }
#FareAvailList .last_choice { width:930px; clear:both;}
#FareAvailList .last_choice p.total_select{ height:41px; border-right:1px solid #c2c2c2; border-left:1px solid #c2c2c2; background:#fafafa; text-align:center; line-height:41px; }
#FareAvailList .last_choice p.total_select span{font-size:12pt; color:#333; font-weight:bold; text-decoration:none; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ico_big_downarrow.gif) no-repeat right 50%; padding-right:21px;}
#FareAvailList .last_list table{ width:100%; }
#FareAvailList .last_list thead th{ height:31px; line-height:31px; font-size:9pt; background:#fff; text-align:center; color:#333; font-weight:bold; border-top:1px solid #b5bece; border-right:1px solid #b5bece; border-bottom:1px solid #bbbfcc;}
#FareAvailList .last_list thead th:first-child{border-left:1px solid #bbbfcc;}
#FareAvailList .last_list thead th span{display:block; height:30px; line-height:30px; margin:1px 0 0 1px; background:#f0f1f5; color:#333; text-decoration:none; vertical-align:middle; text-align:center;}
#FareAvailList .last_list tbody td{ color:#666; text-align:center; border-bottom:1px solid #f0f0f0; height:31px; line-height:31px;}
#FareAvailList .last_list tbody td .btn_cview{display:inline-block; width:103px; height:33px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat 0 -119px; vertical-align:middle; }
#FareAvailList .last_list tbody td.air{text-align:left; border-left:1px solid #c2c2c2;}
#FareAvailList .last_list tbody td.air span{padding-left:19px;}
#FareAvailList .last_list tbody td.detail{border-left:1px solid #f0f0f0; border-right:1px solid #c2c2c2;}
#FareAvailList .last_list tbody tr.last td{border-bottom:0;}
#FareAvailList .total_buy { width:928px; padding-bottom:10px; background:#f5f8ff; border:1px solid #22428a; }
#FareAvailList .total_buy .promotion_card { padding:12px 0; margin-bottom:15px; overflow:hidden; background-color:#d4e3f8; }
#FareAvailList .total_buy .promotion_card ul { float:left; width:525px; }
#FareAvailList .total_buy .promotion_card li { margin-left:10px; float:left; }
#FareAvailList .total_buy .promotion_card li:first-child { margin-left:20px; }
#FareAvailList .total_buy .promotion_card li input[type=radio] { margin:0; vertical-align:middle; }
#FareAvailList .total_buy .promotion_card p { padding-right:18px; float:right; font-weight:bold; font-size:11px; letter-spacing:-1px; color:#112e70; }
#FareAvailList .total_buy table{ width:100%; }
#FareAvailList .total_buy table td {padding-left:19px;}
#FareAvailList .total_buy table td .air_price, #FareAvailList .total_buy table td .tax_price{color:#1a55d9;}
#FareAvailList .total_buy table td p { height:24px; line-height:24px; background-color:#f5f8ff; border:0; text-align:right; padding-right:18px; }
#FareAvailList .total_buy table td p.total_p{ font-size:12pt; color:#333; font-weight:bold; }
#FareAvailList .total_buy table td p.total_p span.num{ font-size:18pt; font-family:tahoma; color:#1a55d9; }
#FareAvailList .total_buy table td p.inclusion{ color:#666; font-size:9pt; }
#FareAvailList .total_buy table td p span{ background:none; padding-right:0; }
#FareAvailList .total_buy table td .total_rsvt{ display:inline-block; width:165px; height:54px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) 0 -55px; vertical-align:middle; }
#FareAvailList .air_alram { height:38px; line-height:38px; text-align:right; font-size:9pt; color:#666; }
#FareAvailList .air_alram span.alram { background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_alram.gif) no-repeat 0 50%; padding-left:21px; }


/* Layer */
.air_charge_layer { width:700px; overflow:hidden; background-color:#fff;}
.air_charge_layer .rule_body { width:698px; border:1px solid #3b3f42; }
.air_charge_layer .rule_body h1 { position:relative; padding-left:20px; height:31px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/bg_layer_tit.gif) repeat-x; color:#fff; text-align:left; font-size:11pt; line-height:31px; }
.air_charge_layer .rule_body h1 a.close_layerx { display:block; width:13px; height:14px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat -225px 0; position:absolute; top:9px; right:19px; }
.air_charge_layer .rule_cons table { width:100%; font-size:9pt; text-align:left; border:0; border-collapse:collapse; }
.air_charge_layer .rule_cons table th{ height:31px; line-height:31px; padding-left:14px; border-right:1px solid #b8bcca; border-bottom:1px solid #b8bcca; border-left:1px solid #b8bcca; background-color:#eceef1; color:#333; font-weight:normal; }
.air_charge_layer .rule_cons table tr:first-child th { border-top:1px solid #b8bcca; }
.air_charge_layer .rule_cons table tr:first-child td { border-top:1px solid #c2c2c2; }
.air_charge_layer .rule_cons table td { border-right:1px solid #c2c2c2; border-bottom:1px solid #dfdfdf; color:#666; padding:9px 0 8px 14px; line-height:16px; }
.air_charge_layer .rule_cons table tr.last td { border-bottom-color:#c2c2c2; }
.air_charge_layer .rule_cons table tr.joint_service td { padding-top:10px; background:#f5f8ff; color:#666; font-size:11px; }
.air_charge_layer .rule_cons table tr.joint_service td strong { color:#1a55d9;}
.air_charge_layer .rule_cons_wrap{ width:700px; overflow-y:auto; }
/* [S]2015.12.15 비자확인  버튼 추가 & 수정 */
.air_charge_layer .func { margin-top:20px; text-align:center; }
.air_charge_layer .func a { display:inline-block; width:103px; height:33px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat; }
.air_charge_layer .func .btn_print { background-position:-113px -119px; }
.air_charge_layer .func .btn_visa { margin-left:5px; background-position:-422px -305px; }
/* [E]2015.12.15 비자확인  버튼 추가 & 수정 */
.air_charge_layer .rule_cons {width:645px; margin:0 auto; padding:20px 0; font-size:9pt; }
.air_charge_layer .rule_cons p.desti { margin-bottom:8px; padding-left:20px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_airplane.gif) no-repeat 0 50%; color:#333; text-align:left; font-weight:bold; }
.air_charge_layer .rule_cons p.desti span { font-weight:normal; }
.air_charge_layer .rule_cons p.desti .arrow { color:#334b81; }
.air_charge_layer .rule_cons p.desti .bar { color:#999; }
.air_charge_layer table.charge_detail thead th { padding-left:0; text-align:center; font-weight:bold; }
.air_charge_layer table.charge_detail tbody td:first-child { border-left:1px solid #c2c2c2; }
.air_charge_layer table.charge_detail tbody td.air_icon { padding-left:0; border-right:0; text-align:right; }
.air_charge_layer table.charge_detail tbody td.time { padding-left:0; text-align:center; }
.air_charge_layer table.charge_detail tbody td.flight { padding-left:5px; }
.air_charge_layer .total_time { text-align:right; padding-top:20px; }
.air_charge_layer .total_time p { font-size:11px; color:#666; }
.air_charge_layer .total_time p.usetime { color:#334b81; font-weight:bold; font-size:16px; }
.air_charge_layer .total_time p.usetime span.time { color:#ff2d68; }
.air_charge_layer .total_time span.bar { margin:0 6px 0 5px; color:#ccc; font-weight:normal; font-size:11px; }
.air_charge_layer .rule_cons p.schedule { height:31px; border-right:1px solid #b8bcca; border-left:1px solid #b8bcca; background-color:#eceef1; color:#334b81; font-weight:bold; line-height:31px; }
.air_charge_layer .rule_cons p.schedule b { display:inline-block; width:30px; height:15px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_starend.png) no-repeat; vertical-align:middle; margin:0 9px 0 15px; }
.air_charge_layer .rule_cons p.schedule b.ico_leave { background-position:0 0; }
.air_charge_layer .rule_cons p.schedule b.ico_comming { background-position:0 -20px; }
.air_charge_layer .rule_cons p.schedule.first-child { border-top:1px solid #b8bcca; }
.air_charge_layer .rule_cons p.fee { margin-top:20px; }
.air_charge_layer .rule_cons table.schedule thead th { text-align:center; font-weight:bold; padding-left:0; }
.air_charge_layer .rule_cons table.schedule tbody td:first-child { border-left:1px solid #c3c3c3;}
.air_charge_layer .rule_cons table.schedule tbody td { text-align:center; padding-left:0; }
.air_charge_layer .rule_cons table.schedule tbody tr.last td {border-bottom-color:#c2c2c2; }
.air_charge_layer .rule_cons .total_charge { text-align:right; padding:20px 0 10px; line-height:15pt }
.air_charge_layer .rule_cons .total_charge .total_sum{ font-weight:bold; font-size:11pt; }
.air_charge_layer .rule_cons .total_charge .total_sum strong { color:#334b81; }
.air_charge_layer .oper_guide { border:1px solid #c2c2c2; background:#f4f4f4; }
.air_charge_layer .oper_guide ul { padding:20px; }
.air_charge_layer .oper_guide li { font-size:8pt; color:#666; line-height:17px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/bu_gray_dot.gif) no-repeat left center; padding-left:8px; }
.air_charge_layer .oper_guide li.red{ color:#ba4e6c; }
.air_charge_layer .oper_guide li.not { background:none;  }

.air_charge_layer .rule_cons tbody strong { font-weight:bold; color:#050099; }



/* 2014.05.28 수정 및 추가 */
#FareAvailList .sch_result_wrap .sch_result { position:relative; }
#FareAvailList .sch_result_wrap .sch_result th.charge_total { font-weight:normal; font-size:11px; }
#FareAvailList .sch_result_wrap .sch_result th.charge_total strong { font-size:12px; }
#FareAvailList .sch_result_wrap .sch_result .body td.tax { padding:0; text-align:center; }
#FareAvailList .sch_result_wrap .sch_result .body td.tax a.btn_rule{display:inline-block; width:29px; height:17px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png") no-repeat -222px -23px; vertical-align:middle; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge_total { padding:0; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge_total .cell { padding-right:5px; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge_total .cell > span { display:inline-block; color:#1642a4; vertical-align:middle; font-weight:bold; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge_total .cell > a.btn_charge_detail { display:inline-block; width:14px; height:14px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ico_symbol.png") no-repeat 0 0; vertical-align:middle; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge_total .cell.none { display:block; text-align:center; padding:0; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge_total .cell.none > a.btn_charge_detail { background-position:0 -24px; }
#FareAvailList .sch_result_wrap .sch_result .body td.charge_total .cell.none div.layer_popup b.bullet { right:64px; }
#FareAvailList .sch_result_wrap .sch_result .body tr.select td.charge_total > div { position:relative; }
#FareAvailList .total_buy table td .fuel_sale { position:relative; display:inline-block; }
.ie7 #FareAvailList .total_buy table td .fuel_sale { display:inline; zoom:1; }
#FareAvailList .total_buy table td .fuel_sale a.btn_charge_summary { display:inline-block; width:14px; height:14px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ico_symbol.png") no-repeat 0 0; vertical-align:middle; }
#FareAvailList .total_buy table td .fuel_sale div.layer_popup { position:absolute; top:20px; right:-27px; display:none; padding:20px 5px 5px; width:143px; border:1px solid #000; border-radius:4px; background:#fff; }
#FareAvailList .total_buy table td .fuel_sale div.layer_popup b.bullet { position:absolute; top:-5px; right:28px; display:block; width:9px; height:5px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/ball_arrow.png") no-repeat; }
#FareAvailList .total_buy table td .fuel_sale div.layer_popup table { width:123px; margin:0 auto; }
#FareAvailList .total_buy table td .fuel_sale div.layer_popup table th { text-align:left; font-weight:normal; }
#FareAvailList .total_buy table td .fuel_sale div.layer_popup table td { text-align:right; }
#FareAvailList .total_buy table td .fuel_sale div.layer_popup table th,
#FareAvailList .total_buy table td .fuel_sale div.layer_popup table td { padding:0; height:16px; border:0 none; color:#333; font-size:11px; line-height:16px; }
#FareAvailList .total_buy table td .fuel_sale div.layer_popup a.btn_lay_close { display:block; position:absolute; top:6px; right:6px; width:9px; height:8px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_layer_close.png") no-repeat; }
/* 2014.05.28 */


/* 2014.07.22 */

#FareAvailListLayerPopup { position:fixed; padding:20px 5px 5px; width:203px; border:1px solid #000; border-radius:4px; background:#fff; font-size:10px; z-index:10; }
#FareAvailListLayerPopup b.bullet { position:absolute; top:-5px; right:28px; display:block; width:9px; height:5px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/ball_arrow.png") no-repeat; }
#FareAvailListLayerPopup a.btn_lay_close { display:block; position:absolute; top:6px; right:6px; width:9px; height:8px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_layer_close.png") no-repeat; }
#FareAvailListLayerPopup table { width:183px; margin:0 auto; }
#FareAvailListLayerPopup table th,
#FareAvailListLayerPopup table td { padding:0; height:16px; border:0 none; color:#333; font-size:11px; line-height:16px; }
#FareAvailListLayerPopup table th { text-align:left; }
#FareAvailListLayerPopup table td { text-align:right; }
#FareAvailListLayerPopup table tbody th,
#FareAvailListLayerPopup table tbody td { font-weight:normal; }
#FareAvailListLayerPopup table tbody tr.last th,
#FareAvailListLayerPopup table tbody tr.last td { padding-bottom:10px; }
#FareAvailListLayerPopup table tfoot th,
#FareAvailListLayerPopup table tfoot td { border-top:1px solid #c2c2c2; height:30px; line-height:30px; }
#FareAvailListLayerPopup table tfoot td { font-weight:bold; color:#1642a4; }
#FareAvailListLayerPopup p.guideline { padding:10px; font-weight:normal; font-size:11px; line-height:16px; background-color:#f1f1f1; color:#666; text-align:left; }
#FareAvailListLayerPopup div.none { display:block; text-align:center; padding:0; }
#FareAvailListLayerPopup div.none > a.btn_charge_detail { background-position:0 -24px; }
#FareAvailListLayerPopup div.none div.layer_popup b.bullet { right:64px; }
/* 2014.07.22 */



/* [S] 2014.09.16  증빙서류 레이어 */
.air_documentary_evidence { position:absolute; margin-left:-350px; top:50%; left:50%; width:700px; overflow:hidden; background-color:#fff; z-index:999999; }
.air_documentary_evidence .header { position:relative; padding-left:20px; height:31px; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/bg_layer_tit.gif') repeat-x; color:#fff; text-align:left; font-size:11pt; line-height:31px; }
.air_documentary_evidence .header a.close_layerx { position:absolute; top:9px; right:19px; display:block; width:13px; height:14px; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png') no-repeat -225px 0; }
.air_documentary_evidence .contents { padding:20px 19px; text-align:left; }
.air_documentary_evidence .contents h2 { margin:0 0 10px 0; padding:0; font-size:15px; color:#333; }
.air_documentary_evidence .contents h2 i.ico_chk { display:inline-block; width:12px; height:11px; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/ic_airline.png') no-repeat -199px 0; }
.air_documentary_evidence .contents .docs { width:658px; height:82px; border:1px solid #c2c2c2; background:#f4f4f4; overflow:hidden; overflow-y:auto; }
.air_documentary_evidence .contents .docs ul { padding:14px 18px; }
.air_documentary_evidence .contents .docs li { margin-top:8px; font-size:12px; color:#666; }
.air_documentary_evidence .contents .docs li:first-child { margin-top:0; }
.air_documentary_evidence .contents p { font-size:12px; color:#333; }
.air_documentary_evidence .contents .paragraph { margin:19px 0 29px; }
.air_documentary_evidence .contents .paragraph p { margin-bottom:8px; }
.air_documentary_evidence .body .btn_wrap { margin:0  0 20px; text-align:center; }
.air_documentary_evidence .body .btn_wrap a { display:inline-block; width:81px; height:30px; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png') no-repeat; }
.air_documentary_evidence .body .btn_wrap a.btn_confirm { margin-right:5px; background-position:0 -712px; }
.air_documentary_evidence .body .btn_wrap a.btn_cancel { background-position:-91px -712px; }
/* [E] 2014.09.16 증빙서류 레이어 */

/* [S] 2015.11.19 안내메에시지 */
#alertMsg .air_documentary_evidence { margin-left:-215px; width:430px; }
#alertMsg .air_documentary_evidence p strong { font-weight:bold; color:#ee5655; }
/* [E] 2015.11.19 안내메에시지 */

/**************** [S]2014.09.24 ********************/
/* 실시간 항공 */
.realtime_airline_booking .real_booking .add_info li.last-child { margin-top:10px; }
.realtime_airline_booking .real_booking .add_info .cols { float:left; }
.realtime_airline_booking .real_booking .add_info .th { width:64px; font-weight:bold; color:#333; }
.realtime_airline_booking .real_booking .add_info .prefer_air { padding-left:74px; }
.realtime_airline_booking .real_booking .add_info .prefer_air button { border:0; cursor:pointer; }
.realtime_airline_booking .real_booking .add_info .prefer_air .btn_prefer_airline { display:inline-block; width:73px; height:19px; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png') no-repeat -187px -214px; vertical-align: top; }
.realtime_airline_booking .real_booking .add_info .prefer_air .prefer_air_list { display:inline-block; line-height:normal; vertical-align:top; }
.ie7 .realtime_airline_booking .real_booking .add_info .prefer_air .prefer_air_list { display:inline; zoom:1; }
.realtime_airline_booking .real_booking .add_info .prefer_air .prefer_air_list > ul { height:23px; overflow:hidden; }
.realtime_airline_booking .real_booking .add_info .prefer_air .prefer_air_list  li { float:left; display:none;  height:23px;line-height:23px; vertical-align:middle; margin:0; }
.realtime_airline_booking .real_booking .add_info .prefer_air .prefer_air_list  li.active { display:block; }
.realtime_airline_booking .real_booking .add_info .prefer_air .prefer_air_list  .airline { color:#666; }
.realtime_airline_booking .real_booking .add_info .prefer_air .prefer_air_list .btn_del { margin:0 10px 0 4px; width:11px; height:11px; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png') no-repeat -248px 0; vertical-align:middle; }
.realtime_airline_booking .real_booking .add_info #preferAirline { position:absolute; top:-85px; left:-1px; width:928px; background:#fff; display:none; border:1px solid #d9d9d9; z-index:10; }
.realtime_airline_booking .real_booking .add_info #preferAirline i.arrow {  position:absolute; bottom:-7px; left:90px; display:block; width:13px; height:7px; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/bull_arrow_down.png') no-repeat; }
.realtime_airline_booking .real_booking .add_info #preferAirline .btn_preferairline_close{ position:absolute; top:10px; right:10px; display:block; width: 15px; height: 14px; background: url('//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png') no-repeat -440px -569px; }
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list { padding:20px;}
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list label { cursor: pointer;}
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list > ul { padding-left:62px; }
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list > ul li { float:left; width:180px; color:#666; margin:0; }
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list .btn_wrap { position:absolute; top:34px; right:20px; width:83px; height:114px; }
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list .btn_wrap button:first-child { margin-bottom:10px; }
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list .btn_wrap .btn_confirm { display:block; width: 83px; height: 52px; background: url('//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png') no-repeat -419px -600px; }
.realtime_airline_booking .real_booking .add_info #preferAirline .airline-list .btn_wrap .btn_unchecked { display:block; width: 83px; height: 52px; background: url('//img.modetour.co.kr/ModeLiveBooking/130913_air/btn_airticket.png') no-repeat -419px -656px; }
/**************** [E]2014.09.24 ********************/

/**************** [S]2015.04.28 ********************/
.economy-layer { position:fixed; padding:10px;  max-width:150px; border:1px solid #000;  border-radius:4px; background:#fff; font-size:11px; z-index:10; }
.economy-layer .arrow { position:absolute; top:-5px; left:50%; margin-left:-5px; display:block; width:9px; height:5px; background:url("//img.modetour.co.kr/ModeLiveBooking/130913_air/ball_arrow.png") no-repeat; }
.economy-layer p { font-family:dotum, '돋움', verdana; text-align:left; }
/**************** [E]2015.04.28 ********************/

/**************** [S]2015.08.13 항공요금규정 ********************/
.air_charge_layer .rule_cons .charge_guide { margin-bottom:28px; padding:15px 0 17px 20px; background-color:#f4f4f4; border:1px solid #c2c2c2; }
.air_charge_layer .rule_cons .charge_guide li { padding-left:8px; font-size:11px; line-height:21px; color:#666; background:url('//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/bu_gray_dot.gif') no-repeat 0 50%; }
/**************** [E]2015.08.13 항공요금규정 ********************/


/**************** [S]2016.05.13 공동운항 icon ********************/
#FareAvailList .group_area .hgroup h2.sch_result_txt > span.right { margin-bottom:4px; float:right; line-height:19px; }
#FareAvailList .group_area .hgroup h2.sch_result_tx span.right .economy { float:none; display:inline-block; }
#FareAvailList .group_area .hgroup h2.sch_result_txt > span.joint_service { display:inline-block; }
#FareAvailList .sch_result_wrap .reserv_seach .rvt_list_body .rvt_flight .ico { display:inline-block; vertical-align:middle; width:13px; height:8px; background:url(//img.modetour.co.kr/ModeLiveBooking/130913_air/ico/ic_joint_service.png) no-repeat; }
#FareAvailList .last_list tbody tr.joint_service td { padding:4px 0 5px; height:auto; vertical-align:middle; line-height:normal; }
#FareAvailList .last_list tbody tr.joint_service td.air span { line-height:21px; }
#FareAvailList .last_list tbody tr.joint_service td.air span.ico { padding-left:48px; }
/**************** [E]2016.05.13 공동운항 icon ********************/

/* 초과수화물 버튼 */
.btn_excess_baggage { display:inline-block; vertical-align:middle; width:60px; height:16px; background:url(//img.modetour.com/ModeLiveBooking/130913_air/btn_airticket.png) no-repeat -194px -214px; }